<td>
  <input type="checkbox" checked={{@selected}} id="child-checkbox"  role="checkbox" {{on "click" (fn @toggle @index @selected true)}} data-test-file-checkbox >
</td>
<td data-test-file-name>{{@file.name}}</td>
<td data-test-file-device>{{@file.device}}</td>
<td data-test-file-path>{{@file.path}}</td>
<td data-test-file-status>{{@file.status}}</td>
