<table>
  <colgroup>
    <col>
    <col span="1" >
    <col span="1" >
    <col span="1" >
    <col span="1" >
  </colgroup>
  <thead>
    <tr class="selection-download-row">
      <td><input type="checkbox" id="select-all" checked={{this.selected}} {{on "click" this.selectAll}}></td>
      <td>
        {{this.count}}
      </td>
      <td>
        <span>
          <img alt="Download icon" src="assets/images/download.png">
        </span>
       <button disabled={{this.disableButton}} {{on "click" this.download}}>
        Download Selected
       </button>
      </td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <th scope="col" ></th>
      <th scope="col" >Name</th>
      <th scope="col" >Device</th>
      <th scope="col" >Path</th>
      <th scope="col" >Status</th>
    </tr>
  </thead>
  {{#each @files as |file index|}}
    <tr class="file-row" >
      <File @file={{file}} @toggle={{this.toggle}} @selected={{get checkboxState index}} @index={{index}} />
    </tr>
  {{/each}}
</table>
