  <td>
    <input type="checkbox" checked={{@selected}} name="child-checkbox"  role="checkbox" {{on "click" (fn @toggle @index @selected)}} >
  </td>
  <td class="names">{{@file.name}}</td>
  <td class="devices">{{@file.device}}</td>
  <td class="paths smaller-font">{{@file.path}}</td>
  <td class="statuses">{{@file.status}}</td>

{{log @index}}
